.page-section {
  display: block;
  align: center;
  margin-top: 10rem;
}

.page-section .animation-wrapper {
  
}

.page-section .animation-wrapper .appear {
  position: relative;
}

.page-section .animation-wrapper.content-init .appear.opacity {
  opacity: 0;
  transition: opacity 0.38s ease-out;
}

.page-section .animation-wrapper.content-shown .appear.opacity {
  opacity: 1;
  transition: opacity 0.38s ease-in;
}

.page-section .animation-wrapper.content-init .appear.right {
  right: -30rem;
  transition: right 0.38s ease-out;
}

.page-section .animation-wrapper.content-shown .appear.right {
  right: 0rem;
  transition: right 0.38s ease-in;
}

.page-section .animation-wrapper.content-init .appear.bottom {
  bottom: -30rem;
  transition: bottom 0.4s ease-out;
}

.page-section .animation-wrapper.content-shown .appear.bottom {
  bottom: 0rem;
  transition: bottom 0.4s ease-in;
}

.page-section .animation-wrapper.content-init .appear.left {
  left: -30rem;
  transition: left 0.4s ease-out;
}

.page-section .animation-wrapper.content-shown .appear.left {
  left: 0rem;
  transition: left 0.4s ease-in;
}
