@import '../../../styles/variables';

.page-section_content {
  display: flex;
  justify-content: center;
}

.page-section_content.direction__right {
  flex-direction: row;
}

.page-section_content.direction__left {
  flex-direction: row-reverse;
}

.page-section_content_text {
  font-family: $body-font;
  font-size: 1.1rem;
  font-weight: 400;
  max-width: 30rem;
}

.page-section_content.direction__right .page-section_content_text {
  text-align: left;
  margin-left: 2rem;
}

.page-section_content.direction__right .page-section_name {
  text-align: left;
  margin-left: 2rem;
}

.page-section_content.direction__left .page-section_content_text {
  text-align: right;
  margin-right: 2rem;
}

.page-section_content.direction__left .page-section_name {
  text-align: right;
  margin-right: 2rem;
}
