@import './variables';

@media (min-width: $breakpoint-small) {
  $max_height_main_section: 900px;
  .dark-background {
    height: 100vh;
    width: 100%;
    max-height: $max_height_main_section;
    position: absolute;
    background-color: rgb(2,4,36);
    z-index: -2;
  }

  .picture-background {
    height: 100vh;
    max-height: $max_height_main_section;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: url('./img/leaning.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .artur-main {
    margin: 0;
    display: flex;
    flex-direction: column;

    .in-your-face {
      color: white;
      font-family: 'Work Sans', sans-serif;
      position: relative;
      font-weight: 600;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
      height: 100vh;
      max-height: $max_height_main_section;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .first-row {
        text-align: center;
        font-size: 5rem;
      }

      .second-row {
        display: flex;
        justify-content: center;
        font-size: 5.5rem;

        .my-name {
          margin-right: 0.8rem;
        }

        .my-lastname {
          font-weight:700;
          margin-left: 0.8rem;
        }

      }

      .third-row {
        margin-top: 3rem;
        text-align: center;
        font-size: 1.3rem;
      }

      .button-wrapper {
        margin-top: 2rem;
        display: flex;
      }

      .learn-button {
        background: rgba(255, 255, 255, 0.4);
        border: none;
        padding: 1rem;
        color: steelblue;
        font-size: 1.4rem;
        cursor: pointer;
        margin: 0 auto;
        outline: none;
      }
    }
  }

  .page-section_media.bars-media {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: $breakpoint-small) {
  $header_first_row_size__phone: 3rem;
  $header_second_row_size__phone: 4rem;

  .dark-background {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgb(2,4,36);
    z-index: -2;
  }

  .picture-background {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: url('./img/leaning.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .artur-main {
    margin: 0;
    display: flex;
    flex-direction: column;

    .in-your-face {
      color: white;
      font-family: 'Work Sans', sans-serif;
      position: relative;
      font-weight: 600;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .first-row {
        text-align: center;
        font-size: $header_first_row_size__phone;
      }

      .second-row {
        display: flex;
        flex-direction: column;
        font-size: $header_second_row_size__phone;

        .my-name {
          margin-right: 0.5rem;
          text-align: center;
        }

        .my-lastname {
          font-weight:700;
          margin-left: 0.5rem;
          text-align: center;
        }

      }

      .third-row {
        margin-top: 3rem;
        text-align: center;
        font-size: 1.3rem;
      }

      .button-wrapper {
        margin-top: 2rem;
        display: flex;
      }

      .learn-button {
        background: rgba(255, 255, 255, 0.4);
        border: none;
        padding: 1rem;
        color: steelblue;
        font-size: 1.4rem;
        cursor: pointer;
        margin: 0 auto;
        outline: none;
      }
    }
  }

  .page-section_media.bars-media {
    display: flex;
    flex-direction: column;
  }
}
